{{ define "main" }}

<h1 class="big-title">{{ .Title }}</h1>
{{ .Content }}

<p>Percentage through year: 2.19%</p>

<div class="tracker-grid">
    <div></div>
    <div><p>Total Time</p></div>
    <div><p>% Complete</p></div>
    <div><p>On Track +/-</p></div>

    <div><p>Trail Running</p></div>
    <div><p>0</p></div>
    <div><p>0.00</p></div>
    <div class="red"><p>-2.19</p></div>

    <div><p>Yoga</p></div>
    <div><p>3 hours 25 mins</p></div>
    <div><p>3.42</p></div>
    <div class="green"><p>+1.22</p></div>

    <div><p>Conversations</p></div>
    <div><p>1 hour</p></div>
    <div><p>1.00</p></div>
    <div class="red"><p>-1.19</p></div>

    <div><p>Video Games</p></div>
    <div><p>3 hours 30 mins</p></div>
    <div><p>3.50</p></div>
    <div class="green"><p>+1.31</p></div>

    <div><p>Mentoring</p></div>
    <div><p>45 mins</p></div>
    <div><p>0.75</p></div>
    <div class="red"><p>-1.44</p></div>

    <div><p>Pair Programming</p></div>
    <div><p>1 hour</p></div>
    <div><p>1.00</p></div>
    <div class="red"><p>-1.19</p></div>
</div>

{{ end }}