{{ define "main" }}

<h1 class="big-title">{{ .Title }}</h1>
{{ .Content }}

<p>Percentage through year: 0.82%</p>

<div class="tracker-grid">
    <div></div>
    <div><p>Total Time</p></div>
    <div><p>% Complete</p></div>
    <div><p>On Track +/-</p></div>

    <div><p>Trail Running</p></div>
    <div><p>0</p></div>
    <div><p>0.00</p></div>
    <div class="red"><p>-0.82</p></div>

    <div><p>Yoga</p></div>
    <div><p>50 mins</p></div>
    <div><p>0.83</p></div>
    <div class="green"><p>+0.51</p></div>

    <div><p>Conversations</p></div>
    <div><p>1 hour</p></div>
    <div><p>1.00</p></div>
    <div class="green"><p>+0.18</p></div>

    <div><p>Video Games</p></div>
    <div><p>0</p></div>
    <div><p>0.00</p></div>
    <div class="red"><p>-0.82</p></div>

    <div><p>Mentoring</p></div>
    <div><p>0</p></div>
    <div><p>0.00</p></div>
    <div class="red"><p>-0.82</p></div>

    <div><p>Pair Programming</p></div>
    <div><p>0</p></div>
    <div><p>0.00</p></div>
    <div class="red"><p>-0.82</p></div>
</div>

{{ end }}