footer{
  text-align: center;
  padding: 20px;
  color: $color_black;
  font-size: 12px;

  @media (prefers-color-scheme: dark) {
        color: $color_darkmode_text;
      }

  a{
    color: $color_black;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }

    @media (prefers-color-scheme: dark) {
        color: $color_darkmode_text;
      }
  }
}
