footer{
  text-align: center;
  padding: 30px 20px;
  color: $color_black;
  font-size: 12px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 4em;
  opacity: 0.7;

  @media (prefers-color-scheme: dark) {
    color: $color_darkmode_text;
    border-top-color: rgba(255, 255, 255, 0.1);
  }

  a{
    color: $color_black;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }

    @media (prefers-color-scheme: dark) {
        color: $color_darkmode_text;
      }
  }
}
