html,
body {
  height: 100%;
  margin: 0;

  @media (prefers-color-scheme: dark) {
    background-color: $color_darkmode_background;

    h1, h2, h3, h4, h5, h6, p, a, span, li, blockquote {
      color: $color_darkmode_text;
    }
  }
}

body {
  display: flex;
  flex-direction: column;
}

h1 {
  display: inline;
  background-size: 100% 0.4em;
  background-repeat: no-repeat;
  background-position: 0 0.9em;
  background-image: linear-gradient($color_darkmode_blue, $color_darkmode_blue);
  font-family: $font-stack-header;
  color: $color_black;
  font-weight: normal;

  &.big-title{
    font-size: 6em;
    background-image: linear-gradient($color_yellow, $color_yellow);

    @media (prefers-color-scheme: dark) {
      background-image: linear-gradient($color_darkmode_blue, $color_darkmode_blue);
    }
  }
}

h2{
  margin: 30px 0 10px;
  
  &.big-title{
    font-size: 2em;
  }
}

h2,
h3,
h4,
h5,
h6 {
  font-family: $font-stack-subheader;
  color: $color_black;
  font-weight: normal;
}

p,
a,
footer,
span,
li,
blockquote {
  font-family: $font-stack-copy;
  color: $color_black;

  &.bigger{
    font-size: 1.2em;
  }
}

* {
  .vertical-margin{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

label {
  display: none;
}

blockquote {
  font-style: italic;
}

main {
  width: calc(100% - 40px);
  max-width: 600px;
  margin: 0 auto;
  flex: 1 0 auto;
  padding: 40px 20px 20px;
}

footer {
  flex-shrink: 0;
}

a {
  color: $color_black;
  text-decoration: underline;
  text-decoration-color: $color_pink;

  &:hover,
  &:focus {
    color: $color_pink;
  }
}

p,
span, 
li {
  padding: 10px 0;
  font-size: 16px;
  line-height: 1.4;

  &:first-of-type {
    padding: 0;
  }
}

ul {
  list-style-type: none;
}

ul ul,
ol ol {
  li:first-child {
    padding-top: 20px;
  }

  li:last-child {
    padding-bottom: 0;
  }
}

li {
  padding-bottom: 10px;
}

ul.tag-list{
  padding: 0;

  li {
    padding-bottom: 10px;
  }
}

h4 {
  font-size: 20px;
}

hr {
  width: 50%;
}

code {
  background-color: #dcdcdc;
  font-family: monospace;
  box-sizing: border-box;
  padding: 2px;
  border-radius: 5px;
  font-size: 14px;
}

@media (prefers-color-scheme: dark) {
  code {
    background-color: #dcdcdc24;
  }
}

@media only screen and (min-width: 600px) {
  code.language-c, code.language-bash, code.language-python {
    overflow-x: hidden;
  }
}

pre {
  border-radius: 5px;
  code {
    display: block;
    overflow-x: scroll;
    padding: 20px;
    span {
      padding: 0;
    }
  }
}

blockquote {
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  line-height: 0.1em;
  margin-inline-start: 0;

  &:before {
    color: $color_green;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  p {
    display: inline;
  }
}

img {
  width: 600px;
  max-width: 100%;
}

p img {
  // this is stupid and I hate it
  @media only screen and (min-width: 600px) {
    width:1200px;
    max-width: 200%;
    margin-left: calc(-50vw + 300px);
  }

  @media only screen and (min-width: 1200px) {
    margin-left: -50%;
  }
}

.circular-image {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  overflow: hidden;
  margin: 40px auto;

  img {
    width: 200px;
  }
}
