// Timeline component for About page
.timeline {
  position: relative;
  max-width: 680px;
  margin: 3em auto 0;
  padding: 2em 0;

  // Central vertical line
  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    background: $color_grey_very_light;
    transform: translateX(-50%);
  }
}

// Year markers on the line
.timeline-year {
  position: relative;
  text-align: center;
  margin: 2em 0 1em;
  z-index: 1;

  span {
    font-family: $font-stack-header;
    font-size: 1.3em;
    background: $color_white;
    padding: 0.2em 0.8em;
    color: $color_dark_blue;
  }
}

// Individual event
.timeline-event {
  position: relative;
  width: 45%;
  padding: 0.5em 0;
  margin-bottom: 1em;

  p {
    font-family: $font-stack-copy;
    font-size: 0.95em;
    line-height: 1.5;
    margin: 0;
  }

  // Dot on the line
  &::before {
    content: "";
    position: absolute;
    top: 0.7em;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    z-index: 1;
  }

  // Connector line from dot to card
  &::after {
    content: "";
    position: absolute;
    top: calc(0.7em + 4px);
    height: 2px;
    z-index: 0;
  }

  // Left side (good)
  &--good {
    margin-left: 0;
    margin-right: auto;
    text-align: right;
    padding-right: 2em;

    &::before {
      right: -6px;
      background: $color_green;
    }

    &::after {
      right: 0;
      width: 2em;
      background: $color_grey_very_light;
    }
  }

  // Right side (bad)
  &--bad {
    margin-left: auto;
    margin-right: 0;
    text-align: left;
    padding-left: 2em;

    &::before {
      left: -6px;
      background: $color_pink;
    }

    &::after {
      left: 0;
      width: 2em;
      background: $color_grey_very_light;
    }
  }
}

// Mobile: single column, line on left
@media (max-width: 540px) {
  .timeline {
    padding-left: 2em;

    &::before {
      left: 0;
      transform: none;
    }
  }

  .timeline-year {
    text-align: left;

    span {
      padding-left: 0;
    }
  }

  .timeline-event {
    width: 100%;
    text-align: left;
    padding-left: 1.5em;
    padding-right: 0;

    &::after {
      display: none;
    }

    &--good {
      margin-left: 0;
      text-align: left;
      padding-right: 0;
      padding-left: 1.5em;
      border-left: 3px solid $color_green;

      &::before {
        left: -8px;
        right: auto;
      }
    }

    &--bad {
      margin-left: 0;
      text-align: left;
      padding-left: 1.5em;
      border-left: 3px solid $color_pink;

      &::before {
        left: -8px;
      }
    }
  }
}

// Dark mode
@media (prefers-color-scheme: dark) {
  .timeline::before {
    background: rgba(255, 255, 255, 0.15);
  }

  .timeline-year span {
    background: $color_darkmode_background;
    color: $color_darkmode_text;
  }

  .timeline-event::after {
    background: rgba(255, 255, 255, 0.15);
  }
}
