{{ define "main" }}
<h1 class="big-title">{{ .Site.Title }}</h1>
{{ .Content }}
{{ $posts := int .Page.Params.postcount }}
{{ $words := int .Page.Params.wordcount }}
    <p>I've written a lot over the past few years. There's {{ $posts }} posts in the <a
            href="/archive">archive</a> for a total
        of approximately {{ $words }} words. That means the whole thing would take about
        {{ div $words 15000 }} hours and {{ mod (div $words 250) 60 }} minutes to read, but I'm really hoping nobody has
        that much free time on their hands.
    </p>
{{ end }}